@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    font-family: "Ubuntu Mono", "Ubuntu", Verdana;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1E202F;
}

div > i {
    position: absolute;

    color: white;
}

input, select, button {
    background: transparent;

    border-color: transparent;

    text-align: center;
    font-size: 1vw;
}

::-webkit-input-placeholder,
-moz-placeholder,
ms-input-placeholder, input, select, .button {
    color: #9138B4;
}

input:focus {
    color: #D178F4;
}

button, select {
    font-family: "Roboto";
    font-size: 0.9vw;
}

button {
    background: rgb(209, 120, 244);
    color: #1E202F;

    vertical-align: middle;
    text-transform: uppercase;

    padding: 0.4rem;
    border-radius: 0.15vw;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    height: 1.5em;

    background: rgb(175,37,241);
    color: #D8D7F0;

    font-size: 2vw;
    text-align: center;
    line-height: 1.6em;
    vertical-align: middle;

    pointer-events: initial;
}

th {
    font-weight: normal;
}

tr {
    font-size: 1.5vw;
    line-height: 1.8em;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

img {
    width: 2em;
    height: 2em;
    margin-left: 1vw;

    image-rendering: pixelated;
}

@media (max-width: 900px) {
    thead {
        font-size: 2.5vw;
    }

    tr {
        font-size: 2vw;
    }

    select {
        font-size: 1.25vw;
    }

    input {
        font-size: 1.4vw;
    }

    #container {
        flex-direction: column;
    }

    .column {
        margin: 1vh 0 !important;
    }

    .column.editable {
        box-shadow: none !important;
        border: 1px solid #629AEA;
    }

    #searchbar {
        font-size: 4.5vw !important;
    }

    #search-icon {
        font-size: 4.5vw !important;
    }

    #add-new i {
        padding: .6vw !important;
        font-size: 1.6vw !important;
    }

    #new-item {
        width: 60vw !important;
    }

    .button {
        height: 3vw !important;
        width: 11.5vw !important;

        line-height: 1.5vw !important;
        font-size: 1.2vw !important;
    }

    .button i {
        font-size: 1.4vw !important;
    }
}

@media (max-width: 600px) {
    thead {
        font-size: 4.5vw;
    }

    tr {
        font-size: 3vw;
    }

    select {
        font-size: 1vw;
    }

    input {
        font-size: 1.4vw;
    }

    #add-new i {
        padding: .25vw !important;
        font-size: 1.7vw !important;
    }

    #new-item {
        width: 65vw !important;
    }

    .button {
        height: 3.2vw !important;
        width: 12vw !important;

        line-height: 1.6vw !important;
        font-size: 1.05vw !important;
    }

    .button i {
        font-size: 1.2vw !important;
    }
}

#container {
    display: flex;
    justify-content: space-around;

    width: 85vw;
    margin: 2vw auto;
}

.underline {
    border-bottom: .1vw solid #F0F0F0;
}

#search {
    position: relative;
    display: flex;

    width: 80vw;
    padding: 0.5vh 0;
    margin: 0.4vw auto;
}

#search-icon {
    position: absolute;
    left: 0;
    bottom: .5vh;

    font-size: 1.5vw;
}

#searchbar {
    width: inherit;
    font-size: 1vw;
}

.column {
    flex-grow: 1;
    flex-basis: 20%;

    margin: 0 0.5vw;

    background: rgb(39, 40, 61);
    color: rgb(209, 120, 244);
}

.hoverable {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 300ms ease-in-out;
}

.hoverable:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.column.editable {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.editable table {
    pointer-events: none;
}

.icon {
    width: 6vw;
}

#add-new {
    position: fixed;
    bottom: 4vh;
    right: 2vw;

    border: none;
    border-radius: 50%;

    background-color: rgb(209, 120, 244);

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#add-new:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(209, 120, 244, 0.4);
}

#add-new:disabled {
    background-color: rgb(72, 72, 72);
    box-shadow: none;
}

#add-new i {
    padding: .5vw;

    font-size: 1.4vw;
}

#new-item {
    display: none;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;

    width: 45vw;
    height: 12.5vh;
    min-height: 30px;
    max-height: 15%;
    margin: 0 auto;

    border-radius: 0.1vw;
    background-color: rgb(39, 40, 61);
}

.new-column {
    width: 30vw !important;
}

.customize {
    padding: 0.5em 0;
}

#delete {
    display: none;

    margin-left: -5em;

    background-color: rgb(244, 120, 209);
}

#delete:hover {
    background-color: rgb(255, 140, 230);
}

.button {
    height: 2.4vw;
    width: 10vw;

    font-size: 0.9vw;
    line-height: 1.2vw;
    vertical-align: middle;

    padding: 0 2vw;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 200ms;
}

.button:hover {
    background-color: rgb(235, 145, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.button i {
    margin-left: 0.5vw;

    font-size: 1.2vw;
    vertical-align: text-bottom;
}
